.text-entry {
  & {
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: $color-primary;
    font-size: 1.6rem;
    margin-bottom: 1px;

    &--disabled {
      color: $color-grey-1;
    }
  }

  &__input-container {
    display: flex;
    position: relative;
  }

  &__placeholder-text-above {
    background-color: #fff;
    font-size: 2rem;
    left: 9.1rem;
    top: 1.3rem;
    position: absolute;
    visibility: hidden;

    &--never-hidden {
      color: $color-grey-1;
      font-size: 1.2rem;
      padding: 0 5px;
      transform: translate(0, -1.6rem);
      visibility: visible;
    }

    &--active {
      color: $color-secondary;
    }

    &--error {
      color: $color-error;
    }

    &--hidden {
      color: $color-grey-1;
      transition: font-size 0.1s linear, transform 0.1s linear, visibility 0.1s linear;
    }
  }

  &:focus-within &__placeholder-text-above {
    color: $color-secondary;
    font-size: 1.2rem;
    padding: 0 5px;
    transform: translate(0, -1.6rem);
    visibility: visible;

    &--error {
      color: $color-error;
    }
  }

  &:focus-within &__placeholder-text-above--hidden {
    transition: linear 0.1s;

    &--error {
      color: $color-error;
    }
  }

  &__icon-container {
    align-items: center;
    background: #fff;
    border: 1px solid $color-grey-1;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: $color-grey-2;
    display: flex;
    justify-content: center;
    padding: 0 2.3rem;
    font-size: 1.6rem;

    &--active {
      border-color: $color-secondary;
    }

    &--error {
      border-color: $color-error;
      color: $color-error;
    }

    &--disabled {
      border-color: $color-grey-1;
      color: $color-grey-1;
    }
  }

  &__input {
    border: 1px solid $color-grey-1;
    border-radius: 0;
    box-shadow: none; // For email error in Firefox
    color: $color-black;
    flex: 1;
    font-size: 2rem;
    min-width: 0;
    outline: 0;
    padding: 1.2rem 1.4rem;

    &--active {
      border-color: $color-secondary;
    }

    &--error {
      border-color: $color-error;
    }

    &--disabled {
      background-color: $color-grey-light;
      border-color: $color-grey-1;
      color: $color-grey-1;
    }

    &::placeholder {
      color: $color-grey-1;
    }

    &:focus::placeholder {
      color: transparent;
      visibility: hidden;
    }
  }

  &__placeholder-text-above--hidden ~ &__input::placeholder {
    transition: color 0.1s linear;
    transition-delay: 0.1s;
  }

  &__signup {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  &__help-text {
    color: $color-grey-2;
    font-size: 1.2rem;
    margin-top: 0.7rem;
    visibility: visible;

    &--hidden {
      visibility: hidden;
    }

    &--disabled {
      color: $color-grey-1;
    }

    &--error {
      border-top: 5px;
      color: $color-error;
      font-size: 1.4rem;
    }
  }
}
