/////////////
// Colors
$color-white: #ffffff;
$color-black: #2d2f43;
$color-primary: #186ca0;
$color-secondary: #2fafff;
$color-grey-light: #f3f3f4;
$color-grey-1: #d0d0d5;
$color-grey-2: #666666;
$color-black-2: #20222f;
$color-error: #c52233;
$color-highlight: #6bbb77;
